.navbar_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 5px 1px gray;
    height: 8vh;
    background-color: #5B718F;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.navbar_link {
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: 0.2s;
    padding: 0.2rem 1rem;
    border-radius: 5rem;
}

.navbar_link:hover {
    transform: scale(1.1);
    background-color: #709FA3;
}

.login_button {
    margin-right: 2rem;
}

.screenshort {
    margin-top: 7vh;
    height: 70vh;
    background-color: rgb(41, 173, 156);
}

.features_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.whylocker_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features_list,
.whylocker_list {
    border: 1px solid blue;
    margin: 1rem
}

.why_img,
.features_img {
    width: 100%;
    height: 100%;
}

.why_img_div,
.features_img_div {
    width: 30%;
    height: 30%;
}

@media screen and (max-width:426px) {
    .features_container {
        flex-direction: column;
    }
    .whylocker_container {
        flex-direction: column-reverse;
    }
}